html { height: 100%; }
body { min-height: 100%; position: relative; }
body:after { content: ''; display: block; height: 3.5em; }
#footer { padding:1em; font-size: 1em; position:absolute; bottom:0; width: 100%; }

body { font-family: Verdana; }

.box { margin-bottom: 1.5em; }
.box:not(:last-child) { border-bottom:solid 1px #ccc; padding: 1.5em 0; }
.box > h1, .box > h2, .box > h3, .box > h4 { margin:0; }
.box > .row:not(.form-horizontal) { margin:0 -15px; min-height: 30px; }

.line { margin:1em 0; border-top:solid 1px #ddd; }

.page > .box:first-child { border-top:solid 1px #ccc;}
.title { color: #4ad; }
.txt-grey { color: #aaa; }

.center, .title, .center-p p { text-align:center; }
.inline { vertical-align:middle; display:inline-block; }

td.right, div.right { text-align: right; }
button.right, span.right { float: right; }
button.left, span.left { float: left; }

.grey { color:#bbb; }
.grey a { color:#777; }
.grey a:hover { text-decoration: underline; color: #0d8; }

#topbar, #footer { box-shadow:0 0 .8em #BBB; text-align:center; }
#topbar, #header { margin-bottom: 1em; }
#footer { margin-top: .8em; }

#header h1 { font-size:3em; margin-top: .2em;}

#header  { color:#058; }
#footer { background-color: #fff; }

@media screen and (min-width: 786px) {
    #topbar .navbar-back { display:none; }
    #topbar li { float:left; display:inline-block; }
    #topbar li.right { float: right; }
    body { background-color: #eee; }

    .box, .box.title { padding: 1.5em; background-color:#fff; border-radius: 0.5em; box-shadow: 0px 0px 1em #ccc; border: none; }
    .box > :last-child { margin-bottom: 0; }
    .box .table-responsive { margin:0; }
    .link-box > div { border-radius: .8em; }
}

.navbar-back { float:left;  font-size: 1.5em; padding: 10px 15px; color: #bbb; transition: color .4s ease; text-align:left; }
.navbar-back:hover { text-decoration: none; color: #49b; }
.navbar-back span { vertical-align: middle; }

.nav li a { transition: background-color .4s ease, color .4s ease; color:#49b; font-size: 1.2em; }
.nav li a.active { background-color:#eaeaea; }
.nav li a:hover { background-color:#6bf; color:#fff; }

.table th .hover { text-decoration: underline; cursor: pointer;}
.table th .sorted, .table th .sort-normal, .table th .sort-reverse { color: #4ad };

.table tr { transition: background-color .5s linear; }
.table tr.hover { background-color: #eaeaea; transition: none; }
.table tr.active { background-color: #29f; color:white; transition:none; }
.table tr.clickable { cursor: pointer; }

.link-box { 
    padding: 0;     
    display: inline-block;
    float: none;
    vertical-align: top;     
    cursor: pointer; 
}

.link-box > div { padding: .8em 1em; margin: .5em; transition: background-color 1s linear;}
.link-box > div.hover { background-color: #eee; transition: background-color 0s;} 

.link-box h2 { color: #555; transition: color .5s ease; }
.link-box > div.hover h2 { color: #4ad; }

.link-box > div .badge.badge-light { transition: background-color .5s ease, color .5s ease, font-size .5s ease, border-radius .5s ease; }
.link-box > div.hover .badge.badge-light { background-color: #4ad; color: white; font-size: 18px; border-radius: 15px; }

.link-box .btn { margin-bottom: 5px; }