<?xml version="1.0" encoding="utf-8" ?>
<root>
    <DB>
        <host>localhost</host>
        <name>dbedit</name>
        <user>user</user>
        <pwd></pwd>
    </DB>
    <global>
        <appname>Super cool DB!</appname>
        <landpage>people</landpage>
        <lang>it-IT</lang>
    </global>
</root>
